<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Prodotto - GameStart</title>
    <meta name="author" content="SomeNerdStudios">
    <meta name="description" content="Dettagli completi del prodotto, specifiche tecniche, prezzo e disponibilità. Acquista subito o valuta il ritiro dell'usato">
    <meta name="keywords" content="dettagli, specifiche videogiochi, prezzo, console">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mediaQuery.css">
</head>
<body>
    <nav id="main-navigation" role="navigation" aria-label="Menu principale">{{menu}}</nav>
    <main>
        <div id="back-button-container">
            <a href="index.php?page=shop" id="back-button" aria-label="Torna alla pagina shop">
                Torna al Negozio
            </a>
        </div>
        <section id="product-details" aria-labelledby="product-title">
            <article id="product-image" class="product-card {{isRecent}}" role="listitem" aria-label="Immagine del prodotto">
                <img src="{{img_src}}" alt="{{img_alt}}" width="300" height="300">
                {{badge}}
            </article>
            <article id="product-info" aria-labelledby="product-title">
                <h1 id="product-title">{{nome}}</h1>
                <div>
                    <p><span class="label" aria-hidden="true">Categoria:</span> <span aria-label="Categoria del prodotto">{{genere}}</span></p>
                    <p><span class="label" aria-hidden="true">Prezzo:</span> <span aria-label="Prezzo del prodotto">{{prezzo}}</span></p>
                    <p>
                        <span class="label" aria-hidden="true">Prezzo Ritiro Usato:</span> 
                        <span aria-label="Prezzo per il ritiro usato">{{prezzo_ritiro}}</span>
                    </p>
                    <p><span class="label" aria-hidden="true">Descrizione:</span> <span aria-label="Descrizione del prodotto">{{descrizione}}</span></p>
                    <p><span class="label" aria-hidden="true">Data di Rilascio:</span> 
                        <span aria-label="Data di rilascio del prodotto">{{data_italiana}}</span>
                    </p>
                </div>
            </article>
        </section>
    </main>
    {{footer}}
    <script src="assets/js/menu.js"></script>
</body>
</html>
