<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Permuta - GameStart</title>

    <meta name="author" content="SomeNerdStudios">
    <meta name="description" content="Valuta e vendi i tuoi videogiochi usati con il nostro servizio di permuta. Ottieni il massimo valore per i tuoi dispositivi e giochi">
    <meta name="keywords" content="permuta videogiochi, ritiro usato, valutazione giochi, vendere console usate, scambio videogiochi">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mediaQuery.css">
    <link rel="preload" href="assets/img/pages/luckyblock.svg" as="image" fetchpriority="high">
</head>
<body id="top">
    <nav id="main-navigation" role="navigation" aria-label="Menu principale">{{menu}}</nav>
    <main class="homepage">
        <div id="red-section">
            
            <div class="content illustrated-title">
                <div class="title-section">
                    <h1 class="big-title bright-title">
                        Permuta
                    </h1>
                    <h2 class="subtitle bright-title">
                        Ogni storia ha un valore, raccontaci la tua... Scopri quanto vale il tuo usato
                    </h2>
                    <a href="#valuation">
                        <img src="assets/img/pages/arrowdown_white.svg" class="arrow" alt="Scorri verso la sezione successiva" width="80" height="80"/>
                    </a>
                </div>
                <div id="illustration-section">
                    <img src="assets/img/pages/luckyblock.svg" id="illustration-medium" alt="Illustrazione mattoncino fortunato di 'Super Mario'" width="320"/>
                </div>
            </div>
        </div>

        <div class="gray-section" id="valuation">
            <div class="row content">
                <div class="main-card trade-card">
                    <div id="left-trade">
                        <h3>Parlaci del tuo dispositivo</h3>
                        {{categories}}
                    </div>
                    <div id="vertical-line" aria-hidden="true"></div>
                    <div id="right-trade">
                        <h3> Valutazione </h3>
                        <div class="row value">
                            <img src="assets/img/pages/eurocoin.svg" class="img-medium" alt="Illustrazione Euro" width="80"/>
                            <h4 class="subtitle" aria-hidden="true">X</h4>
                            <h4 id="final-rating" aria-label="Valutazione finale del dispositivo"><abbr title="Euro">&#8364;</abbr><span>0,00</span></h4>
                        </div>
                    </div>
                    <div id="lower-trade">
                        <button id="get-rating-button">Aggiorna Valutazione</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="cit-section cit-section" role="region" aria-label="Citazione ispirazionale">
                <p class="quote">“Uaaaaa - aaaaaaaaaa”</p>
                <p class="subtitle quote">- <span lang="en">Crash Bandicoot</span></p>
                <a href="#top" aria-label="Torna all'inizio della pagina" class="scroll-link">
                    <img src="assets/img/pages/arrowup_red.svg" class="arrow" alt="Scorri verso la sezione precedente" width="80" height="80" />
                </a>
            </div>
        </div>
        
    </main>
    {{footer}}
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/trade.js"></script>
</body>
</html>