<nav class="menu" aria-label="Menu di navigazione">

    <img src="assets/img/logo.svg" id="menu-logo" class="main-logo" alt="GameStart Logo" height="48" width="196"/>

    <ul class="menu-items">
        {{MENU_ITEMS}}
    </ul>

    <div class="menu-actions">
        {{MENU_ACTIONS}}
    </div>

</nav>

<nav class="menu-mobile" aria-label="Menu di navigazione mobile">

    <img src="assets/img/logo.svg" id="menu-logo" class="main-logo" alt="GameStart Logo" height="48" width="196"/>

    <button id="hamburger-btn" aria-label="Menu di navigazione">
        <img src="assets/img/icons/burgermenu.svg" alt="Menu Icon" height="32" width="32"/>
    </button>

    <div id="menu-overlay"></div>
    
    <!-- Container unico per menu items e actions -->
    <div class="menu-container">
        <ul class="menu-items">
            {{MENU_ITEMS}}
        </ul>
        
        <div class="menu-actions">
            {{MENU_ACTIONS}}
        </div>
    </div>

</nav>

{{LOGOUT_POPUP}}