<nav aria-label="Menu di navigazione">
    <div class="menu"> 
       <ul id="menu-logo">
            <li>
                <img src="assets/img/logo.svg" class="main-logo" alt="GameStart Logo" height="48" width="196"/>
            </li>
       </ul>
        <div id="menu-overlay"></div>
        <ul id="menu-items">
            {{MENU_ITEMS}}
        </ul>

        <ul id="menu-actions">
            {{MENU_ACTIONS}}
        </ul>

        <button id="hamburger-btn" aria-label="Menu di navigazione">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>

{{LOGOUT_POPUP}}